body {
	margin: 10px 0;
}
	
a, a:hover, a:link, a:visited {
	text-decoration: none;
	color: blue;
}

#container {
	margin: 0 auto;
	padding: 0;
	width: 750px;
}
	
p, td, span, li, a { 
	font-family: georgia, sans-serif; 
}

h1 {
	font: 16px georgia, sans-serif;
	font-weight: bold;
	margin: 0 0 5px 0;
}

h2 {
	border-bottom: 1px solid #666;
	clear: both;
	font: 16px georgia, sans-serif;
	margin: 35px 0 10px 0;
	padding: 0 0 3px 0;
	width: 750px;
}

.name {
	text-transform: uppercase;
	font-size: 18px;
	margin-top: 30px;
}

.summary {
	border-bottom: 1px solid #666;
	clear: both;
	font: 16px georgia, sans-serif;
	margin: 15px 0 10px 0;
	padding: 25px 0 3px 0;
	width: 750px;
}

.experience {
	border-bottom: 1px solid #666;
	clear: both;
	font: 16px georgia, sans-serif;
	margin: 15px 0 10px 0;
	padding: 25px 0 3px 0;
	width: 750px;
}

h3 {
	float: left;
	font: 14px georgia, sans-serif;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

li {
	font-size: 13px;
	padding: 0 0 10px 0;
}

.duties {
	width: 550px;
	}
	
p {
	font-size: 13px;
	margin: 0 0 10px 0;
	padding: 0;
	width: 575px;
}

#container ul {
	margin: 0 0 0 140px;
	padding: 0;
	list-style-type:square
}

#bio_left {
	font-size: 12px;
	float: left;
	width: 350px;
}

#bio_right {
	font-size: 12px;
	float: left;
	text-align: right;
	width: 400px;
}

.company {
	clear: both;
}

.data {
	padding-left: 125px;
}

.date {
	clear: left;
	float: left;
	padding-top: 2px;
	width: 125px;
}

.job {
	clear: both;
	width: 750px;
}

.job_data {
	float: left;
	width: 750px;
	margin-bottom: 10px;
}

.location {
	clear: right;
	float: right;
	text-align: right;
	width: 180px;
}

.position {
	font-style: italic;
	margin: 0 0 0 125px;
	padding-bottom: 10px;
	width: 750px;
	clear: left;
}

#meta {
	margin: 0 auto;
	padding-top: 30px;
	text-align: center;
	width: 750px;
}
